<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/site-wide-resources/bulqup-icon.png">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>5x5 Workout</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/newHome/newHomepageBootstrap.min.css">
	<!--<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />-->

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/newHome/font-awesome.min.css">
	
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/newHome/newHomepage.css"/>
	<link type="text/css" rel="stylesheet" href="/css/footer.css" />
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<!-- HEADER -->
	<header id="header" style="background-color: #222;">
		<!-- NAV -->
		<% include partials/newHeader%>
		<!-- /NAV -->
		
	</header>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header-wo"><%= objpassed.workoutName %>
                    <small><small><%=objpassed.QuickFacts.MusclesWorked%></small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Seller Information -->
        <div class="row">
            <div class="col-md-8 embed-responsive embed-responsive-16by9 hidden-lg hidden-md">
              <iframe class="embed-responsive-item" src= <%=objpassed.videoLink%> width="100%" allowfullscreen></iframe>
            </div>

            <div class="col-md-8 hidden-sm hidden-xs">
                <object data=<%=objpassed.videoLink%> width="700" height="393"></object>
            </div>

            <div class="col-md-4">
                <div>
                    <h3>Quick-Facts:</h3>

                    <ul>
                        <li>Main muscle worked: <%=objpassed.QuickFacts.MusclesWorked%></li>
                        <li>Type: <%=objpassed.QuickFacts.WorkoutType%></li>
                        <li>Skill Level: <%=objpassed.QuickFacts.SkillLevel%></li>
                        <li>
                            <h5> General Remarks:</h5>
                            <p> <%=objpassed.QuickFacts.GeneralRemark%>
                            </p>
                        </li>
                    </ul>
                </div>
                <hr>


                <div>
                    <h3>Workout:</h3>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" onclick="levelchanged(this, <%=objpassed.WorkoutLoad.EasyCount%>)" id = 1>-</button>
                        <button type="button" class="btn btn-default" onclick="levelchanged(this, <%=objpassed.WorkoutLoad.MediumCount%>)" id = 2>&#9733 Medium</button>
                        <button type="button" class="btn btn-default" onclick="levelchanged(this, <%=objpassed.WorkoutLoad.HardCount%>)" id = 3>+</button>
                    </div>

                    <br></br>

                    <ul>
                        <li>Reommended Reps: <span id="repcountID">5</span></li>
                        <li>Recommended Sets: <span id="setCountID">5</span></li>
                    </ul>
                </div>

                <h2>&#9733 <%=objpassed.Rating%>/10</h2>
            </div>
        </div>
        <!-- /.row -->




        <!-- Item Information Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header-wo">Workout Instructions:<i></i></h3>
            </div>

            <div class="col-lg-6 col-xs-12">

                <ol>
                    <li><%=objpassed.workoutInstructions[0]%></li>
                    <li><%=objpassed.workoutInstructions[1]%></li>
                    <li><%=objpassed.workoutInstructions[2]%></li>
                    <li><%=objpassed.workoutInstructions[3]%></li>
                    
                </ol>
                <h3>Tips:</h3>
                <ol>
                    <li><%=objpassed.tips[0]%></li>
                    <li><%=objpassed.tips[1]%></li>
                    <li><%=objpassed.tips[2]%></li>
                    <li><%=objpassed.tips[3]%></li>
                    
                </ol>
            </div>
            
            <div class="col-xs-12 hidden-lg hidden-md">
                <img src=<%=objpassed.imagelink%> width="100%">
            </div>

            <div class="col-lg-6 hidden-sm hidden-xs" style="left: -50px;">
                <img src=<%=objpassed.imagelink%> >
            </div>

        </div>


        <!-- /.row -->

        <!-- Related Projects Row -->
        <!--<div class="row">-->

        <!--    <div class="col-lg-12">-->
        <!--        <h3 class="page-header">Related Workouts:</h3>-->
        <!--    </div>-->

        <!--    <div class="col-sm-3 col-xs-6">-->
        <!--        <a href="#">-->
        <!--            <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">-->
        <!--        </a>-->
        <!--    </div>-->

        <!--    <div class="col-sm-3 col-xs-6">-->
        <!--        <a href="#">-->
        <!--            <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">-->
        <!--        </a>-->
        <!--    </div>-->

        <!--    <div class="col-sm-3 col-xs-6">-->
        <!--        <a href="#">-->
        <!--            <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">-->
        <!--        </a>-->
        <!--    </div>-->

        <!--    <div class="col-sm-3 col-xs-6">-->
        <!--        <a href="#">-->
        <!--            <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">-->
        <!--        </a>-->
        <!--    </div>-->

        <!--</div>-->
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->

</body>

<br></br>
<hr>

<% include partials/footer%>     
